*{
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $colorFondo;
    
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    background-color: $colorFondo;

}